<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Database Management</title>
    <link rel="stylesheet" href="Home.css" />
</head>
<body>
<div class="container">
    <h1>Database Management App</h1>

    <div class="button-group">
        <button id="btnPrijem">Prijem Aparata</button>
        <button id="btnSQL">dbManager</button>
        <button id="btnSettings">dbSettings</button>
    </div>
</div>

<script src="Home.js"></script>
</body>
</html>
